<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>SnakeDown</title>
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %}
      <h1>{{section.title}}</h1>
      {{section.content | safe}}
      <h2>submodules:</h2>
        <ul>
      {% for sub_sec in section.subsections %}
          {% set subsection = get_section(path=sub_sec) %}
          <li><a href="{{ subsection.permalink }}">{{ subsection.title }}</a></li>
      {% endfor %}
      {% for post in section.pages %}
          <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
      {% endfor %}
        </ul

      {% endblock content %}
    </div>
  </section>
</body>

</html>
